<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350681666491-adu2asl83amr9ecb683e2vbakf4hcv6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350681666491-adu2asl83amr9ecb683e2vbakf4hcv6s</string>
	<key>API_KEY</key>
	<string>AIzaSyDOfS322RbWsqb6zYHVqCCiS06zXLtFwFg</string>
	<key>GCM_SENDER_ID</key>
	<string>350681666491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-lts</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-lts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350681666491:ios:4a3c861b0c6968a920ea9e</string>
</dict>
</plist>